{% extends "base.html" %}
{% block title %}Form{% endblock %}
{% block content %}


<div class="card">
  <div class="card-body">
    <h1>Form</h1>

    <form action="submit" method="POST">
        <input name="username">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    
  </div>
</div>

<div class="p-3">
  <div class="card p-2" style="width: 18rem;">
    <div class="card-body p-2">
      <h5 class="card-title">Button Action</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Method = Post</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
      <button type="button" class="btn btn-outline-success">Success</button>
    </div>
  </div>
</div>


{% endblock %}